.bottom_div_all {
    width:100%;
    background-color:#17512b;
    overflow:hidden;
    float:left;
    border-bottom:solid 1px #999;
}
.bottom_div_964 {
    width:964px;
    margin:0 auto;
    padding:0px;
}
.bottom_link_ul{
    float:left;
    width:940px;
    color:#fff;
    line-height:30px;
    padding-left:20px;
    padding-top:15px;
    padding-bottom:15px;
}
.bottom_link_ul a{
    margin-right:6px;
    color:#fff;
    display:inline-block;
}
.bottom_link_ul a:hover{
    margin-right:6px;
    color:#fff;
}
.bottom_link_li{
    float:left;
    width:70px;
}

.bottom_rights_div{
    width:100%;
    background-color:cornflowerblue;
    overflow:hidden;
    float:left;
}
.bottom_rights_div_964{
    width:964px;
    margin:0 auto;
    padding:0px;
    padding-top:15px;
    padding-bottom:25px;
    text-align:center;
    color:#fff;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
}
