img{
    text-align: left;
}
.qj_jd {
    width:1800px;
    padding-top:10px;
    clear:both;
    height: 530px;
}
.qj_jd h3 {
    background-color: #B3DDD7;
    float: left;
    font-family: "Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    line-height: 30px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    color: #666666;
}
.qj_jd ul {
    clear: both;
    text-align: left;
    padding-top: 2px;
}
.qj_jd li {
    float: left;
    display: block;
    width: 233px;
    text-align: left;
    height: 232px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.qj_jd a {
    position:absolute;
    display:block;
    color: #FFFFFF;
    text-decoration: none;
}
.qj_jd a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.qj_jd a:hover {
    text-decoration:none;
}

.qj_jd h4 {
    display: none;
    font: bold 12px/30px Verdana,Arial;
    text-align: center;
}
.qj_jd a:hover h4 {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    left: 0;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    position: absolute;
    width: 100%;
}



.qj_jd span,.left_a span, .right_b span {
    display:none;
    text-align:center;
    font:bold 12px/30px Verdana, Arial;
}
.qj_jd a:hover span,.left_a a:hover span, .rigth_b  a:hover span {
    width:100%;
    height:100%;
    background:#000;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
    filter:alpha(opacity=10);
    -moz-opacity:0.10;
    opacity:0.10;
    border:0;
}


.qj_footer{
    height: 80px;
    background-color: #666666;
    font-size: 12px;
    font-family: "Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    text-align: center;
    line-height: 80px;
    color: #CCCCCC;
    clear: both;
    padding: 0px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/*#test {*/
    /*position: relative;*/
    /*clear: both;*/
    /*width: 964px;*/
    /*height: 457px;*/
    /*overflow: hidden;*/
    /*background-image: url(../images/a.jpg);*/
    /*margin-top: 10px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*text-align: left;*/
    /*padding-left: 1px;*/
/*}*/
