.pnl_notice{
    width:360px;
    height:340px;
    overflow:hidden;
    float:left;
}
.notice_banner{
    width:360px;
    height:35px;
    background-image:url('../images/notice.png');
    background-repeat:no-repeat;
    overflow:hidden;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.notice_more{
    width:50px;
    height:30px;
    padding-left:98px;
    text-align:right;
    line-height:30px;
    float:left;
    color:#119451;
}
.notice_more a,.notice_more a:hover{
    color:#119451;
}
.notice_ul{
    width:360px;
    height:300px;
    overflow:hidden;
    margin-left:10px;
    float:left;
}
.notice_ul li{
    width:358px;
    height:30px;
    line-height:30px;
    float:left;
    overflow:hidden;
}