.qdtrip_banner{
    width:924px;
    height:60px;
    background-image:url('../images/ztTravel.png');
    background-repeat:no-repeat;
    overflow:hidden;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_hot{
    width:690px;
    padding-left:180px;
    float:left;
    height:30px;
    text-align:right;
    line-height:30px;
    overflow:hidden;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_more{
    width:50px;
    height:30px;
    text-align:right;
    line-height:30px;
    float:left;
    color:#119451;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_more a,.kanqianjing_more a:hover{color:#119451;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_banner_div{
    width:920px;
    margin-left:10px;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_banner_div ul{
    width:183px;
    float:left;
    height:220px;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_banner_div li{
    width:173px;
    text-align:center;
    line-height:30px;
    height:210px;
    overflow:hidden;
    color:#119451;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_banner_div li a,.xhtrip_banner_div li a:hover{
    color:#119451;
    font-family:"Microsoft Yahei","Microsoft JhengHei","SimSun","Arail","Verdana","Helvetica","sans-serif";
    font-size:12px;
    font-weight: normal;
}
.qdtrip_banner_div img{
    width:173px;
    height:175px;
}

audio{
    text-align: center;
}